:root {
  /* colors */
  /* background */
  --pds-theme-color-background-primary: rgba(0, 68, 136, 1);
  --pds-theme-color-background-sunken: rgba(250, 249, 248, 1);
  --pds-theme-color-background-baseline: rgba(255, 255, 255, 1);
  --pds-theme-color-background-baseline_inverse: rgba(31, 30, 30, 1);
  --pds-theme-color-background-raised: rgba(255, 255, 255, 1);
  --pds-theme-color-background-raised_inverse: rgba(51, 51, 50, 1);
  --pds-theme-color-background-overlay: rgba(255, 255, 255, 1);
  --pds-theme-color-background-error: rgba(252, 240, 240, 1);
  --pds-theme-color-background-error_inverse: rgba(176, 0, 0, 1);
  --pds-theme-color-background-warning: rgba(253, 243, 217, 1);
  --pds-theme-color-background-warning_inverse: rgba(238, 189, 62, 1);
  --pds-theme-color-background-positive: rgba(234, 245, 240, 1);
  --pds-theme-color-background-positive_inverse: rgba(4, 99, 60, 1);
  --pds-theme-color-background-info: rgba(235, 243, 249, 1);
  --pds-theme-color-background-info_inverse: rgba(45, 90, 122, 1);
  --pds-theme-color-background-disabled: rgba(194, 193, 192, 1);

  /* foreground */
  --pds-theme-color-foreground-primary: rgba(0, 68, 136, 1);
  --pds-theme-color-foreground-on_primary: rgba(255, 255, 255, 1);
  --pds-theme-color-foreground-neutral_high: rgba(31, 30, 30, 1);
  --pds-theme-color-foreground-neutral_high_inverse: rgba(255, 255, 255, 1);
  --pds-theme-color-foreground-neutral_medium: rgba(110, 110, 109, 1);
  --pds-theme-color-foreground-error: rgba(176, 0, 0, 1);
  --pds-theme-color-foreground-error_inverse: rgba(240, 181, 181, 1);
  --pds-theme-color-foreground-warning: rgba(144, 103, 0, 1);
  --pds-theme-color-foreground-warning_inverse: rgba(250, 224, 154, 1);
  --pds-theme-color-foreground-positive: rgba(4, 99, 60, 1);
  --pds-theme-color-foreground-positive_inverse: rgba(151, 208, 185, 1);
  --pds-theme-color-foreground-info: rgba(45, 90, 122, 1);
  --pds-theme-color-foreground-info_inverse: rgba(164, 201, 226, 1);
  --pds-theme-color-foreground-disabled: rgba(194, 193, 192, 1);

  /* outline */
  --pds-theme-color-outline-primary: rgba(0, 68, 136, 1);
  --pds-theme-color-outline-neutral_high: rgba(31, 30, 30, 1);
  --pds-theme-color-outline-neutral_high_inverse: rgba(255, 255, 255, 1);
  --pds-theme-color-outline-neutral_medium: rgba(110, 110, 109, 1);
  --pds-theme-color-outline-neutral_low: rgba(229, 228, 227, 1);
  --pds-theme-color-outline-error: rgba(176, 0, 0, 1);
  --pds-theme-color-outline-warning: rgba(144, 103, 0, 1);
  --pds-theme-color-outline-positive: rgba(4, 99, 60, 1);
  --pds-theme-color-outline-info: rgba(45, 90, 122, 1);
  --pds-theme-color-outline-disabled: rgba(194, 193, 192, 1);

  /* box shadows */
  --pds-theme-shadow-lowest-bottom: 0px 2px 6px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-low-bottom: 0px 2px 12px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-low-top: 0px -2px 12px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-medium-bottom: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-top: 0px -8px 24px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-bottom: 0px 8px 24px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-left: -8px 0px 24px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-right: 8px 0px 24px rgba(0, 0, 0, 0.1);

  /* border radius */
  --pds-global-border_radius-100: 4px;
  --pds-global-border_radius-200: 12px;
  --pds-global-border_radius-300: 16px;
  --pds-global-border_radius-400: 24px;
  --pds-global-border_radius-1000: 9999px;

  /* theme overrides */
  --colorInkPrimary: var(--pds-theme-color-foreground-neutral_high);
  --colorInkSecondary: var(--pds-theme-color-foreground-neutral_medium);
  --colorBorderStructure: var(--pds-theme-color-outline-neutral_low);
  --colorBorderSubtle: var(--pds-theme-color-outline-neutral_low);
  --colorBorderProminent: var(--pds-theme-color-outline-neutral_low);
  --sideNavWidth: 220px;
  --contentContainerPadding: 64px;
  --contentFontBase: 1rem;
  --headingLevel3Size: 1.125rem;
  --pageTitleFontSize: 4rem;
}

/* handles responsive styles */
@media screen and (max-width: 768px) {
  :root {
    --contentContainerPadding: 32px;
    --pageTitleFontSize: 3rem;
  }
}

/* default text styles */
* {
  scroll-behavior: smooth;
}

/* link styles */
a {
  text-decoration: underline;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

p,
li,
ol,
ul,
span {
  max-width: 80ch;
}
html,
body,
.container-title > .slider .subtitle,
p {
  line-height: 140%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: 600;
}

/* header styles */
#header {
  box-shadow: var(--pds-theme-shadow-medium-bottom);
}

/* styles images on pages */
.content-block--image img {
  border-radius: var(--pds-global-border_radius-400);
}

/* changes pages titles, side nav category titles, and Figma blocks titles to Poppins */
.container-title > .slider h1.page-title,
.docs-navigation > .nav.first-level-flat .group-open > .nav-link.group,
.layout-tiles.variant-plain .grid > div p.title,
#content-nav .content-nav-header {
  font-family: "Poppins", sans-serif;
  color: var(--colorInkPrimary);
  text-decoration: none;
}

/* page title section */
.container-title {
  border: none;
}

#page-tab-content {
  padding-top: 0px;
}

/* changes page title padding */
.container-title > .slider {
  padding: 32px 0px 0px 0px;
  max-width: 1260px;
}

/* customizes Figma block title */
.layout-tiles.variant-plain .grid > div p.title {
  font-weight: 500;
  font-size: 1rem;
}

/* customizes Figma block description */
.layout-tiles.variant-plain .grid > div p.description {
  font-size: 1rem;
}

/* customizes Figma block */
.layout-tiles.variant-plain .grid > div {
  background-color: transparent;
}

/* changes style of table */
table {
  overflow: hidden;
  width: 100% !important;
}

table tbody tr:nth-child(even) {
  background-color: var(--pds-theme-color-background-sunken);
}

div.data-table-wrapper {
  border-radius: var(--pds-global-border_radius-400);
}

/* adds border to the first tr */
table.header-row tr:first-child {
  border-bottom: solid 1px var(--colorBorderSubtle);
}

table.header-row tr:first-child th {
  border-bottom: none;
  background-color: transparent;
}

table.header-row tr:first-child th p {
  color: var(--colorInkPrimary);
}

/* Figma block image */
.layout-tiles img {
  background: var(--pds-theme-color-background-sunken);
  border-radius: var(--pds-global-border_radius-400);
}

/* changes the side nav logo */
.site-logo > img {
  height: 32px !important;
}

/* changes nav link item on side nav */
.docs-navigation > .nav .nav .nav-item .nav-link {
  font-weight: 600;
  text-decoration: none;
}

/* handles tabs */

.container-tabs {
  margin-top: 32px;
  background: none;
  position: static;
}

.nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 600;
}

/* styles link block */

.content-block--shortcuts .shortcut-item {
  text-decoration: none;
  box-shadow: none;
  border: solid 1px var(--colorBorderSubtle);
  transition: all 200ms ease;
  border-radius: var(--pds-global-border_radius-300);
}

.content-block--shortcuts .shortcut-item:hover {
  box-shadow: none;
  background-color: var(--pds-theme-color-background-sunken);
}

.content-block--shortcuts .shortcut-item:hover p.title {
  color: var(--colorInkPrimary);
}

/* callout component styles */

.content-block--callout {
  border-radius: var(--pds-global-border_radius-300);
}

.content-block--callout.callout-info {
  background-color: var(--pds-theme-color-background-info);
  color: var(--pds-theme-color-foreground-info);
}

.content-block--callout.callout-info .icon {
  color: var(--pds-theme-color-foreground-info);
}
