:root {
  /* colors */
  --pds-global-general-grey-10: #faf9f8;
  --pds-global-general-grey-20: #f0eeed;
  --pds-global-general-grey-30: #e5e4e3;
  --pds-global-general-grey-40: #c2c1c0;
  --pds-global-general-grey-50: #a3a2a2;
  --pds-global-general-grey-60: #7d7c7c;
  --pds-global-general-grey-70: #6e6e6d;
  --pds-global-general-grey-80: #4b4b49;
  --pds-global-general-grey-90: #1f1e1e;

  /* background */
  --pds-theme-color-background-primary: #004488;
  --pds-theme-color-background-sunken: #faf9f8;
  --pds-theme-color-background-baseline: #ffffff;
  --pds-theme-color-background-baseline_inverse: #1f1e1e;
  --pds-theme-color-background-raised: #ffffff;
  --pds-theme-color-background-raised_inverse: #1f1e1e;
  --pds-theme-color-background-overlay: #ffffff;
  --pds-theme-color-background-error: #fcf0f0;
  --pds-theme-color-background-error_inverse: #b00000;
  --pds-theme-color-background-warning: #fdf3d9;
  --pds-theme-color-background-warning_inverse: #eebd3e;
  --pds-theme-color-background-positive: #eaf5f0;
  --pds-theme-color-background-positive_inverse: #04633c;
  --pds-theme-color-background-info: #ebf3f9;
  --pds-theme-color-background-info_inverse: #2d5a7a;
  --pds-theme-color-background-disabled: #c2c1c0;

  /* foreground */
  --pds-theme-color-foreground-primary: #004488;
  --pds-theme-color-foreground-on_primary: #ffffff;
  --pds-theme-color-foreground-neutral_high: var(--pds-global-general-grey-90);
  --pds-theme-color-foreground-neutral_high_inverse: #ffffff;
  --pds-theme-color-foreground-neutral_medium: var(
    --pds-global-general-grey-80
  );
  --pds-theme-color-foreground-neutral_low: var(--pds-global-general-grey-70);
  --pds-theme-color-foreground-error: #b00000;
  --pds-theme-color-foreground-error_inverse: #f0b5b5;
  --pds-theme-color-foreground-warning: #8f6600;
  --pds-theme-color-foreground-warning_inverse: #fae09a;
  --pds-theme-color-foreground-positive: #04633c;
  --pds-theme-color-foreground-positive_inverse: #97d0b9;
  --pds-theme-color-foreground-info: #2d5a7a;
  --pds-theme-color-foreground-info_inverse: #a4c9e2;
  --pds-theme-color-foreground-disabled: #c2c1c0;

  /* outline */
  --pds-theme-color-outline-primary: #004488;
  --pds-theme-color-outline-neutral_high: #1f1e1e;
  --pds-theme-color-outline-neutral_high_inverse: #ffffff;
  --pds-theme-color-outline-neutral_medium: #6e6e6d;
  --pds-theme-color-outline-neutral_low: #e5e4e3;
  --pds-theme-color-outline-error: #b00000;
  --pds-theme-color-outline-warning: #906700;
  --pds-theme-color-outline-positive: #04633c;
  --pds-theme-color-outline-info: #2d5a7a;
  --pds-theme-color-outline-disabled: #c2c1c0;

  /* box shadows */
  --pds-theme-shadow-lowest-bottom: 0px 2px 6px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-low-bottom: 0px 2px 12px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-low-top: 0px -2px 12px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-medium-bottom: 0px 4px 16px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-top: 0px -8px 24px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-bottom: 0px 8px 24px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-left: -8px 0px 24px rgba(0, 0, 0, 0.1);
  --pds-theme-shadow-high-right: 8px 0px 24px rgba(0, 0, 0, 0.1);

  /* border radius */
  --pds-global-border_radius-100: 4px;
  --pds-global-border_radius-200: 12px;
  --pds-global-border_radius-300: 16px;
  --pds-global-border_radius-400: 24px;
  --pds-global-border_radius-1000: 9999px;

  /* theme overrides */
  --colorInkPrimary: var(--pds-theme-color-foreground-neutral_high);
  --colorInkSecondary: var(--pds-theme-color-foreground-neutral_medium);
  --colorBorderStructure: var(--pds-theme-color-outline-neutral_low);
  --colorBorderSubtle: var(--pds-theme-color-outline-neutral_low);
  --colorBorderProminent: var(--pds-theme-color-outline-neutral_low);
  --sideNavWidth: 220px;
  --contentContainerPadding: 64px;
  --contentFontBase: 1rem;
  --headingLevel3Size: 1.125rem;
  --pageTitleFontSize: 4rem;
  --borderRadiusSmall: var(--pds-global-border_radius-100);
  --borderRadiusDefault: var(--pds-global-border_radius-200);
  --borderRadiusLarge: var(--pds-global-border_radius-300);
}

/* default text styles */
* {
  scroll-behavior: smooth;
}

/* link styles */
a {
  text-decoration: underline;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

p,
li,
ol,
ul,
span {
  color: var(--pds-theme-color-foreground-neutral_medium);
  max-width: 80ch;
}
html,
body,
.container-title > .slider .subtitle,
p {
  line-height: 140%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

h3 {
  font-weight: 600;
}

/* header styles */
#header {
  box-shadow: var(--pds-theme-shadow-medium-bottom);
}

/* styles images on pages */
.content-block--image img {
  border-radius: var(--pds-global-border_radius-400);
}

/* changes pages titles, side nav category titles, and Figma blocks titles to Poppins */
.container-title > .slider h1.page-title,
.docs-navigation > .nav.first-level-flat .group-open > .nav-link.group,
.layout-tiles.variant-plain .grid > div p.title,
#content-nav .content-nav-header {
  font-family: "Poppins", sans-serif;
  color: var(--colorInkPrimary);
  text-decoration: none;
}

/* page title section */
.container-title {
  border: none;
}

#page-tab-content {
  padding-top: 0px;
}

/* changes page title padding */
.container-title > .slider {
  padding: 32px 0px 0px 0px;
  max-width: 1260px;
}

/* customizes Figma block title */
.layout-tiles.variant-plain .grid > div p.title {
  font-weight: 500;
  font-size: 1rem;
}

/* customizes Figma block description */
.layout-tiles.variant-plain .grid > div p.description {
  font-size: 1rem;
  margin-bottom: 16px;
}

/* changes style of table */
table {
  overflow: hidden;
  width: 100% !important;
}

table tbody tr:nth-child(even) {
  background-color: var(--pds-theme-color-background-sunken);
}

div.data-table-wrapper {
  border-radius: var(--pds-global-border_radius-200);
}

/* adds border to the first tr */
table.header-row tr:first-child {
  border-bottom: solid 1px var(--colorBorderSubtle);
}

table.header-row tr:first-child th {
  border-bottom: none;
  background-color: transparent;
}

table.header-row tr:first-child th p {
  color: var(--colorInkPrimary);
}

/* Figma block image */
.layout-tiles img {
  background: var(--pds-theme-color-background-sunken);
  border-radius: var(--pds-global-border_radius-400);
}

/* changes the side nav logo */
.site-logo > img {
  height: 32px !important;
}

/* changes nav link item on side nav */
.docs-navigation > .nav .nav .nav-item .nav-link {
  font-weight: 600;
  text-decoration: none;
}

/* handles tabs */

.container-tabs {
  margin-top: 32px;
  background: none;
  position: static;
}

.nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 600;
}

/* styles link block */
.content-block--shortcuts .shortcut-item {
  position: relative;
  text-decoration: none;
  box-shadow: none;
  border: solid 1px var(--colorBorderSubtle);
  border-radius: var(--pds-global-border_radius-300);
  transition: all 200ms ease;
}

.content-block--shortcuts .shortcut-item:hover {
  box-shadow: var(--pds-theme-shadow-low-bottom);
}

.content-block--shortcuts .shortcut-item p.title {
  font-family: "Poppins", sans-serif;
}

.content-block--shortcuts .shortcut-item:hover p.title {
  color: var(--colorInkPrimary);
}

/* callout component styles */
.content-block--callout {
  gap: 4px;
}

.content-block--callout.callout-info {
  background-color: var(--pds-theme-color-background-info);
  color: var(--pds-theme-color-foreground-info);
}

.content-block--callout.callout-info .icon {
  color: var(--pds-theme-color-foreground-info);
}

.content-block--callout .content {
  margin: none;
  font-size: 1rem;
}

#toast-content {
  border-radius: var(--borderRadiusDefault) !important;
  background: var(--pds-theme-color-background-raised_inverse) !important;
  box-shadow: var(--pds-theme-shadow-medium-bottom) !important;
  padding: 12px 16px !important;
  font-family: va(--fontFamily) !important;
  font-size: 1rem !important;
}

/* styled the side nav */
.side-navigation-wrapper {
  border: none;
}

/* changes padding on all content blocks */
.content-block {
  margin-bottom: 32px;
}

ol.content-block {
  margin-bottom: 40px;
}

p + .content-block {
  margin-top: 8px;
}

.content-block--frames {
  margin-bottom: 0px !important;
}

/* removes the header of the token groups */
.token-group-header,
.content-block--token-container .color-preview .token-value {
  display: none;
}

.token-value {
  background: none;
}

/* changes the swatch sizes */
.content-block--token-container .grid > div div.preview {
  height: 64px;
}

/* changes the swatch grid */
.content-block--token-container .grid {
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
}

/* changes the shadow token swatches */
.content-block--token-container .grid > div div.preview.bordered {
  border: none;
  background: var(--pds-theme-color-background-sunken);
}

.token-preview-container.large .token-type-shadow {
  height: 40px;
  width: 40px;
}

/* styles the token name */
.content-block--token-container .grid > div > p.title::first-letter {
  text-transform: capitalize;
}

/* styles the border radius swatch */
.token-preview-container-radius {
  border: none;
  background-color: var(--pds-global-general-grey-30);
}

.token-preview-container-border.large,
.token-preview-container-radius.large,
.token-preview-container-blur.large {
  height: 40px;
  width: 40px;
}

/* styles the bottom nav button links */
.page-bottom-navigation .segment {
  border: solid 1px var(--pds-theme-color-outline-neutral_low);
  box-shadow: none;
  transition: all 200ms ease;
}

.page-bottom-navigation .segment:hover {
  box-shadow: var(--pds-theme-shadow-low-bottom);
  color: var(--pds-theme-color-foreground-neutral_high);
}

.page-bottom-navigation .segment .arrow,
.page-bottom-navigation .segment .segment-text > .section {
  opacity: 1;
}
.content-block--component-health {
  position: relative;
  display: inline-flex;
  border-radius: 999px;
  height: 36px;
  overflow: hidden;
}

.content-block--component-health::after {
  opacity: 0;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: currentColor;
  transition: opacity 200ms ease;
}

/* health status button */
.content-block--component-health:hover::after {
  opacity: 0.1;
}

.content-block--component-health:active::after {
  opacity: 0.2;
}

.content-block--component-health[role="button"] {
  box-shadow: none;
}

.content-block--component-health[role="button"]:hover {
  box-shadow: none;
}

/* changes the color of the status buttons' text */
.content-block.content-block--component-health.status-ready-to-use.dark {
  color: var(--pds-theme-color-foreground-positive);
}

.content-block.content-block--component-health.status-under-construction.dark {
  color: var(--pds-theme-color-foreground-warning);
}

/* status tag styles */
.property-select-tag {
  font-weight: 600;
  border-radius: 4px;
  padding: 0px 8px;
}

/* removes the view more string on the button */
.content-block--component-health .date {
  display: none;
}

/* styles the modal header color */
.health-overlay-content .header.light,
.health-overlay-content .header.dark {
  color: currentColor;
}

.health-overlay-content.status-ready-to-use {
  color: var(--pds-theme-color-foreground-positive);
}

.health-overlay-content.status-under-construction {
  color: var(--pds-theme-color-foreground-warning);
}

/* removes border on modal header */
.health-overlay-content .links,
.health-overlay-content .info {
  border: none;
}

/* styles content of button e.g. text */
.health-tag-title .name {
  font-size: 0.875rem;
  margin-left: 4px;
}

/* handles responsive styles */
@media screen and (max-width: 768px) {
  :root {
    --contentContainerPadding: 32px;
    --pageTitleFontSize: 3rem;
  }

  .content-block--token-container .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 576px) {
  .content-block--token-container .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* styles the Figma tiles grid */
  .layout-tiles .grid.c2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
