:root {
  /* Color styles */
  --pds--theme--color--background--primary: rgba(0, 68, 136, 1);
  --pds--theme--color--background--sunken: rgba(250, 249, 248, 1);
  --pds--theme--color--background--baseline: rgba(255, 255, 255, 1);
  --pds--theme--color--background--baseline_inverse: rgba(31, 30, 30, 1);
  --pds--theme--color--background--raised: rgba(255, 255, 255, 1);
  --pds--theme--color--background--raised_inverse: rgba(51, 51, 50, 1);
  --pds--theme--color--background--overlay: rgba(255, 255, 255, 1);
  --pds--theme--color--background--error: rgba(252, 240, 240, 1);
  --pds--theme--color--background--error_inverse: rgba(176, 0, 0, 1);
  --pds--theme--color--background--warning: rgba(253, 243, 217, 1);
  --pds--theme--color--background--warning_inverse: rgba(238, 189, 62, 1);
  --pds--theme--color--background--positive: rgba(234, 245, 240, 1);
  --pds--theme--color--background--positive_inverse: rgba(4, 99, 60, 1);
  --pds--theme--color--background--info: rgba(235, 243, 249, 1);
  --pds--theme--color--background--info_inverse: rgba(45, 90, 122, 1);
  --pds--theme--color--background--disabled: rgba(194, 193, 192, 1);
  --pds--theme--color--foreground--primary: rgba(0, 68, 136, 1);
  --pds--theme--color--foreground--on_primary: rgba(255, 255, 255, 1);
  --pds--theme--color--foreground--neutral_high: rgba(31, 30, 30, 1);
  --pds--theme--color--foreground--neutral_high_inverse: rgba(255, 255, 255, 1);
  --pds--theme--color--foreground--neutral_medium: rgba(110, 110, 109, 1);
  --pds--theme--color--foreground--error: rgba(176, 0, 0, 1);
  --pds--theme--color--foreground--error_inverse: rgba(240, 181, 181, 1);
  --pds--theme--color--foreground--warning: rgba(144, 103, 0, 1);
  --pds--theme--color--foreground--warning_inverse: rgba(250, 224, 154, 1);
  --pds--theme--color--foreground--positive: rgba(4, 99, 60, 1);
  --pds--theme--color--foreground--positive_inverse: rgba(151, 208, 185, 1);
  --pds--theme--color--foreground--info: rgba(45, 90, 122, 1);
  --pds--theme--color--foreground--info_inverse: rgba(164, 201, 226, 1);
  --pds--theme--color--foreground--disabled: rgba(194, 193, 192, 1);
  --pds--theme--color--outline--primary: rgba(0, 68, 136, 1);
  --pds--theme--color--outline--neutral_high: rgba(31, 30, 30, 1);
  --pds--theme--color--outline--neutral_high_inverse: rgba(255, 255, 255, 1);
  --pds--theme--color--outline--neutral_medium: rgba(110, 110, 109, 1);
  --pds--theme--color--outline--neutral_low: rgba(229, 228, 227, 1);
  --pds--theme--color--outline--error: rgba(176, 0, 0, 1);
  --pds--theme--color--outline--warning: rgba(144, 103, 0, 1);
  --pds--theme--color--outline--positive: rgba(4, 99, 60, 1);
  --pds--theme--color--outline--info: rgba(45, 90, 122, 1);
  --pds--theme--color--outline--disabled: rgba(194, 193, 192, 1);
}
